<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server_0._5.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Server_0._5.My.MySettings>
            <setting name="host" serializeAs="String">
                <value>https://pastebin.com/raw/DDTVwwbu</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>8989</value>
            </setting>
            <setting name="exe" serializeAs="String">
                <value>Lime.exe</value>
            </setting>
            <setting name="path1" serializeAs="String">
                <value>AppData</value>
            </setting>
            <setting name="path2" serializeAs="String">
                <value>MyFolder</value>
            </setting>
            <setting name="drop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="host2" serializeAs="String">
                <value />
            </setting>
            <setting name="Noti" serializeAs="String">
                <value>       NOTIFICATION [ON]</value>
            </setting>
            <setting name="BTC" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="DWN" serializeAs="String">
                <value />
            </setting>
        </Server_0._5.My.MySettings>
    </userSettings>
</configuration>
